<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
</html>
<body>
  <div class="box" id="heading">
    <h1 style="color: #000000"><%= listTitle %></h1>
  </div>
</body>
